<form method="POST">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="id_name" class="col-sm-3 col-form-label text-end">Имя:</label>
        <div class="col-sm-9">
            {{ form.name }}
        </div>
    </div>

    <div class="row mb-3">
        <label for="id_email" class="col-sm-3 col-form-label text-end">Email:</label>
        <div class="col-sm-9">
            {{ form.email }}
        </div>
    </div>

    <div class="row mb-3">
        <label for="id_text" class="col-sm-3 col-form-label text-end">Текст:</label>
        <div class="col-sm-9">
            {{ form.text }}
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-secondary">Добавить</button>
        </div>
    </div>
</form>
