{% extends 'base.html' %}
{% block content %}
    <style>
        h1 {
            color: black;
            font-weight: bold;
            text-align: center;
        }
    </style>

    <h1>Гостевая книга</h1>
    <div class="container">
        <div class="row">
            {% for guest in guests %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <i class="fas fa-solid fa-pen-to-square"></i>
                            <i class="fa-solid fa-user-minus"></i>
                            <h5 class="card-title">{{ guest.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ guest.email }}</h6>
                            <p class="card-text">{{ guest.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
<!--<div>-->
<!--                            <a class="btn-primary" href="{% url 'guest_update' guest.pk %}">-->
<!--                                <i class="fa-solid fa-user-pen fa-lg"></i></a>-->
<!--                            <a class="btn-primary" href="{% url 'guest_delete' guest.pk %}">-->
<!--                                <i class="fa-solid fa-user-minus fa-lg"></i></a>-->
<!--                        </div>-->